extends layout

block content
  .content#homepage
    #main-content
      img.logo(alt="Assembli Logo" src="/img/logo.png")
      h1.company-name Assembli
      #tagline
        :marked
          We're an international group of people passionate about building startups.
          Currently working on [Project Fiftee](http://projectfiftee.com/),
          [AWSM DJ](https://twitter.com/AWSM_DJ) and a few yet to be revealed
          projects!
    #work-with-us
      :marked
        Interested in working with us? [Get in touch!](mailto:contact@assembli.io)
